html {
    font-family: arponasans, sans-serif;
    font-style: normal;
    font-weight: 100;
    background-color: #0F1119;
}

.menu ul {
    list-style-type: none;
    margin:0;
    padding:0;
    overflow: hidden;
    background-color: #3B3355;
}

.menu li {
    float: left;
}

.menu li a {
    display: block;
    padding: 1rem 1rem;
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: 900;
}

.menu li a:hover {
    /*background-color: #000505;*/
    box-shadow: 0px 0px 10px black;
}